{
  "root": true,
  "extends": [
    "eslint:recommended",
    "react-app",
  ],
  "ignorePatterns": [
    "node_modules/",
    "build/",
  ],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "eslint:recommended",
        "react-app",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
    }
  ]
}
